/BANKAPPLICATION/bank_a/nbproject/private/
/BANKAPPLICATION/bank_a/build/
/BANKAPPLICATION/bank_a/dist/
/BANKAPPLICATION/bank_b/nbproject/private/
/BANKAPPLICATION/bank_b/build/
/BANKAPPLICATION/bank_b/dist/
/BLOCKCHAINVIS/node_modules/
/APPLICATION/Aether/nbproject/private/
/APPLICATION/Aether/dist/
/APPLICATION/Aether/build/
/APPLICATION/SMUtBank_KYC/nbproject/private/
/APPLICATION/SMUtBank_KYC/build/
/BANKAPPLICATION/SMUtBank_CustomerOnboarding/nbproject/private/
/BANKAPPLICATION/SMUtBank_CustomerOnboarding/build/